/* ---------------------------------------------------------------------- */
/*	Form Wizard
 /* ---------------------------------------------------------------------- */
.swMain > ul {
    display: table;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    position: relative;
    width: 100%; }
.swMain > ul li {
    display: table-cell;
    text-align: center;
    width: 1%; }
.swMain > ul li > a:before {
    border-top: 4px solid #CED1D6;
    content: "";
    display: block;
    font-size: 0;
    height: 1px;
    overflow: hidden;
    position: relative;
    top: 21px;
    width: 100%;
    z-index: 1; }
.swMain > ul li > a:hover {
    text-decoration: none; }
.swMain > ul li > a.selected:before, .swMain > ul li > a.done:before {
    border-color: #5293C4; }
.swMain > ul li > a.selected .stepDesc, .swMain > ul li > a.done .stepDesc {
    color: #2B3D53; }
.swMain > ul li > a.disabled {
    cursor: default; }
.swMain > ul li > a.selected .stepNumber {
    border-color: #5293C4; }
.swMain > ul li > a.done .stepNumber {
    border-color: #5293C4;
    background-color: #5293C4;
    color: #ffffff;
    text-indent: -9999px; }
.swMain > ul li > a.done .stepNumber:before {
    content: "\f00c";
    display: inline;
    float: right;
    font-family: FontAwesome;
    font-weight: 300;
    height: auto;
    text-shadow: none;
    margin-right: 7px;
    text-indent: 0; }
.swMain > ul li > a.done.wait .stepNumber {
    background-color: #F6F6F6 !important;
    color: #CCCCCC !important;
    text-indent: -0px !important; }
.swMain > ul li > a.done.wait .stepNumber:before {
    content: "" !important; }
.swMain > ul li:first-child > a:before {
    left: 50%;
    max-width: 51%; }
.swMain > ul li:last-child > a:before {
    max-width: 50%;
    width: 50%; }
.swMain > ul li .stepDesc {
    color: #949EA7;
    display: block;
    font-size: 14px;
    margin-top: 4px;
    max-width: 100%;
    table-layout: fixed;
    text-align: center;
    word-wrap: break-word;
    z-index: 104; }
.swMain > ul .stepNumber {
    background-color: #ffffff;
    border: 5px solid #CED1D6;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: #546474;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 2; }
.swMain .progress {
    margin-bottom: 30px; }
.swMain .stepContainer {
    height: auto !important; }
.swMain .loader {
    display: none; }
.swMain [class^="button"], .swMain [class*=" button"] {
    display: none; }
.swMain .close {
    display: none; }
.swMain .content {
    min-height: 20px;
    padding: 10px 36px;
}
.perguntas p {
    padding: 0 15px;
    font-size: 1.1em;
}
.alternativa {
    margin: 4px;
}
.alternativa .input-group-addon{
    margin: 4px;
    background-color: #3c8dbc;
    border-color: #fff;
    color: #fff;
    padding: 12px;
}
.alternativa .input-group-addon p {
    padding: 0;
    margin: 0
}
.botoes {
    margin-top: 4%;
}
